<h1>Funciones</h1>
<h3>{{ nombre }}</h3>
{#    Funciones predefinidas #}
    {#    Sacar el numero menor #}
    {{ min([9, 11, 6, 99, 2]) }}
    {{ random(animales) }}

    {#    Sacar el numero mayor #}
    {{ max([9, 11, 6, 99, 2]) }}

    {#    Rango #}
    {% for i in range(0, 100, 5) %}
        {{ i }} <br>
    {% endfor %}

<h1>Filtros</h1>

{{ animales|length }}
{% set email = '     carlos@carlos.com  ' %}
{#Trim quitar espacios adelante y despues#}
{{ dump(email|trim|upper|lower) }}