<h1>Formulario con Symfony 5</h1>
{# {% if app.session.flashbag().get('message') %} #}
{#    {{ app.session.flashbag().get('message')[0] }} #}
{# {% endif %} #}
{% for message in app.session.flashbag().get('message') %}
    <strong> {{ message }}</strong>
{% endfor %}

{# {% endif %} #}
{{ form_start(form) }}

{{ form_widget(form) }}

{{ form_end(form) }}